* {
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.topo {
    background-color: #FFFFFF;
    height: 54px;
    width: 100%;
    border: 1px solid #DBDBDB;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
}

.topo-container {
    width: 935px;
    height: 54px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {
    font-size: 22px;
    border-right: 1px solid #DBDBDB;
    padding-right: 10px;
    margin-bottom: 2px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding: 10px 0 0 10px;
}

.topo input {
    width: 215px;
    height: 25px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    text-align: center;
    outline: 0;
}

.botoes-topo ion-icon {
    font-size: 22px;
    margin: 0 5px;
}

.topo-container-mobile {
    display: none;
}

.container {
    width: 935px;
    margin: 88px auto 0 auto;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline {
    width: 614px;
}

.stories {
    width: 100%;
    height: 118px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    display: flex;
    margin-bottom: 25px;
    overflow: hidden;

    padding: 0 8px;
    position: relative;
}

.storie {
    width: 64px;
    height: 100%;
    margin: 0 8px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-storie {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-image: url('img/stories_background.jpg');
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imagem-storie img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.botao-scroll {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.3);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    right: 10px;
}

.post {
    background-color: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.post-topo {
    height: 68px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-topo ion-icon {
    margin: 8px 8px;
    font-size: 18px;
}

.profile-photo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 0 8px;
}

.post-profile {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 8px;
}

.post-photo {
    width: 612px;
}

.post-photo img, video {
    width: 100%;
    height: 460px;
}

.post-footer {
    width: 612px;
    display: flex;
    flex-direction: column;
}

.post-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.post-actions ion-icon {
    margin: 4px 8px;
    font-size: 22px;
}

.post-like {
    height: 21px;
    margin: 0 8px;
    display: flex;
}

.like {
    margin: 4px;
  }

.post-like img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.post-comments {
    margin: 20px 12px;
}

.comment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.comment:last-child {
    margin-bottom: unset;
}

.comment-field {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #DBDBDB;
}

.comment-field input {
    width: 100%;
    padding: 10px;
    height: 50px;
    border: unset;
    outline: unset;
}

.publish-btn {
    border: unset;
    background-color: unset;
    font-weight: bold;
    padding: 0 20px;
    color: #76abcf;
    transition: color 300ms ease-in-out;
    cursor: pointer;
}

.publish-btn:hover {
    color: #0095F6;
}

.sidebar {
    width: 293px;
    height: 300px;
    background: #FAFAFA;
    position: fixed;
    top: 88px;
    right: calc( (100% - 935px) / 2);
}

.sidebar > .user {
    display: flex;
    align-items: center;
}

.user img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    cursor: pointer;
}

.sugestion img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.sidebar > .user .text {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    font-weight: 300;
}

.sidebar > .sugestions .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 14px;
    cursor: pointer;
}

.sidebar .sugestions .sugestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 31px;
    margin-bottom: 16px;
}

.sidebar .sugestions .sugestion .user {
    display: flex;
}

.sidebar .sugestions img{
    width: 32px;
    height: 32px;
}

.sidebar .sugestions .seguir {
    color: #139EF2;
    font-weight: 500;
    font-size: 12px;
}

.sidebar .sugestions .sugestion .user .text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .sugestions .sugestion .user .text :last-child {
    color: #8E8E8E;
    font-weight: 300;
    font-size: 13px;
}

.links, .copyright {
    font-size: 11px;
    color: #C7C7C7;
}

.links {
    margin-top: 40px;
    cursor: pointer;
}

.copyright {
    margin-top: 18px;
}

.text {
    cursor: pointer;
}

p {
    cursor: pointer;
}

.title {
    font-size: 12px;
}

h1 {
    color: #8E8E8E;
    font-weight: 400;
}

span {
    cursor: pointer;
    font-size: 14px;
}

ion-icon {
    cursor: pointer;
}

h3{
    font-weight: 500;
}

h4 {
    font-size: 15px;
    font-weight: 500;
}
 h5{
     color: #8E8E8E;
     font-size: 13px;
 }
.nome {
    font-size: 14px;
    font-weight: 500;
}

img {
    object-fit: cover;
}

.bottom-bar-mobile {
    background-color: #FFFFFF;
    display: none;
    border-top: 1px solid #DBDBDB;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.botoes-bottom {
    display: flex;
    width: 100%;
    height: 54px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px
}

.botoes-bottom ion-icon {
    margin: 0 12px;
}

@media (max-width: 935px){
    .sidebar {
        display: none;
    }
    .conteudo {
        justify-content: center;
    }
    .topo-container, .conteudo, .storie {
        width: 100%;
    }
    .topo-container {
        padding: 0 18px;

    }
}

@media (max-width: 614px){
    .topo-container-mobile {
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
    }
    
    .topo-container-mobile img {
        margin-top: 5px;
        height: 25px;
    }
    .topo-container-mobile ion-icon {
        font-size: 20px;
        margin: 0 5px;
    }
    .topo-container, .conteudo, .timeline {
        justify-content: center;
        width: 100%;
    }
    .sidebar, .topo-container input, .botoes-topo, .botao-scroll {
        display: none;
    }

    .topo-container{
        display: none;
    }
    .stories {
        background: none;
        border: none;
        margin-bottom: 0;
    }
    .conteudo {
        margin-top: 55px;
    }
    .bottom-bar-mobile {
        display: initial;
        width: 100%;
    }
    .post {
        border: 1px solid #DBDBDB;
        border-left: unset;
        border-right: unset;
        border-radius: unset;
    }
    .post, .post-foto, .post-footer {
        width: 100%;
    }

    .post-foto img, video {
        width: 100%;
        height: 100%;
    }
}